#footer {position: absolute;bottom: 0px;width: 100%;overflow: hidden;}
.footers{min-width: 1520px;}
.footMenus { background-color: #262626; padding: 50px 20px;}
.footMenus section{display: grid;grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));max-width: 1600px;min-width: 950px;gap: 1rem;margin: auto;}
.footMenu table { width: 100%;}
.footMenu td {vertical-align: top;}
.footMenu a {color: #fff;}
.footMenu a:hover{ color: #FFA509 !important;}
.footers .footer-headline a { font-weight: bold; text-transform: uppercase; }
.footer-headline{font-size: 18px;margin-bottom: 20px !important;}
.footer-vessel{ font-size: 12px;}
.footMenu a p{line-height: 16px;font-size: 14px;color: #bbbbbb;}
.footMenu a p:hover{color: #FFA509 !important;}
.footMenu h6 { font-size: 1.1rem; margin-bottom: 0.5rem;}
.footMenu li {margin-bottom: 10px;padding-right: 30%;color: #fff;}
.footers span { /* font-size: 0.9rem;   */ color: #fff;}
.footers .cen{text-align: center;display: flex;justify-content: center;align-items: center;gap: 2rem;background-color: #FFA509;padding: 20px 0;}
.footers .cen a{ color: #fff; }

@media (max-width: 1400px) { .footMenus section{ grid-template-columns: repeat(auto-fill, minmax(11%, 1fr));}} 
@media (max-width: 719px) { 
    .footMenus{padding: 20px 10px;}
    .footMenus section{min-width: auto;grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));}
    .footers{ min-width: auto; }
    .footMenu:not(.help) { display: none; }
    .footMenu li{ padding: 0 10px; }
    .help p{ text-align: center; }
    .footers .cen{ flex-wrap: wrap; gap: 0.5rem 1rem; padding: 10px 0;}
} 
